.texty {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
    }
h1{ 
    text-align: center;
}
.form-row{
    margin-left: 30px;
}
#form-row{ 
    margin-left: 30px;
}
#mapid { height: 450px; }

#mapside{
    float:left;
    overflow: hidden;
}
/* Add padding and border to inner content
for better animation effect */
.mapside{
    width: 400px;
    padding: 10px;
}

